<?php
// Zabbix GUI configuration file
global $DB;

$DB['TYPE']                     = "{{ zabbix_server_DBType }}";
$DB['SERVER']                   = "{{ zabbix_server_DBHost }}";
$DB['PORT']                     = "{{ zabbix_server_DBPort }}";
$DB['DATABASE']                 = "{{ zabbix_server_DBName }}";
$DB['USER']                     = "{{ zabbix_server_DBUser }}";
$DB['PASSWORD']                 = "{{ zabbix_server_DBPassword }}";
// SCHEMA is relevant only for IBM_DB2 database
$DB['SCHEMA']                   = '';

$ZBX_SERVER                     = "{{ zabbix_server }}";
$ZBX_SERVER_PORT                = "{{ zabbix_server_Port }}";
$ZBX_SERVER_NAME                = "{{ zabbix_server_Name }}";

$IMAGE_FORMAT_DEFAULT   = IMAGE_FORMAT_PNG;
?>